/* MENU */
.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: var(--transition);
  font-size: 1rem;
  font-weight: 400;
}

.menu a:hover {
  color: var(--btn-primary-color);
  transition: var(--transition);
}

.menu li:last-child {
  margin-left: 2rem;
}

.menuSmartphone {
  display: none;
}
/* Bouton contact */
.call {
  background-color: var(--btn-primary-color);
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 2px solid var(--btn-primary-color);
}

.call:hover {
  background-color: #fff;
}
/* ------------ */

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menuSmartphone {
    display: inherit;
    font-size: 1.5rem;
    border: none;
    background-color: #fff;
  }
}
