@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./Components/Header/Header.css";
@import "./Components/Section/Section.css";
@import "./Components/Banner/Banner.css";

:root {
  font-family: "Kanit", sans-serif;
  --transition: all 0.4s ease-in-out;
  --primary-color: #05b6d3;
}

body {
  background-color: rgb(66, 66, 66);
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 2rem 0;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

@media (max-width: 765px) {
  .container {
    width: 95%;
  }

  h2 {
    font-size: 2.5rem;
  }
}
